{% extends 'App::layout.html.twig' %}

{% block javascripts %}
{{parent()}}
<script type="text/javascript">
    var require = {
        config: {
            app : {
                'container': '.j-container',
            },
            'modules/timeline/models/Timeline' : {
                url : '{{path('rest_timeline_get_timelines')}}'
            },
            'modules/article/models/ArticleCollection' : {
                url : '{{path('rest_article_get_articles')}}'
            }
        }
    };
    </script>
    <script data-main="{{asset('/bundles/app/js/editor/main.js')}}" src="{{asset('/bundles/app/js/vendors/require.js/require.js')}}"></script>
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/app/js/vendors/jquery-ui/css/pepper-grinder/jquery-ui-1.10.1.custom.min.css') }}" />
{% endblock %}
    
{% block content %}
    <div class="b-top-panel clearfix">
        <a href="#" class="b-logo pull-left span2">ReLiter</a>
        
        <div class="b-userbar pull-right span2">
            <i class="icon-user"></i>
            User
        </div>
        
        <div class="b-main-bar span10">
            <div class="b-main-bar__item b-doc-title">
                <i class="icon-time"></i>
                My First Document
            </div>
            
            <div class="b-main-bar__item b-version">
                <i class="icon-pushpin"></i> 0.2
            </div>
        </div>
    </div>
    <div class="j-container b-app-container"></div>
    
    <div id="j-loader" class="modal hide fade" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
        <div class="">
            <i class="icon-spinner icon-spin icon-2x pull-left"></i>
            <span class="j-text"></span>
        </div>
    </div>
{% endblock %}