{% extends 'App::layout.html.twig' %}

{% block javascripts %}
{{parent()}}
<script type="text/javascript">
    var require = {
        config: {
            mercury: {
                'saveUrl'       : '{{path('rest_article_put_articles', {'article' : article.id})}}'
            },
        }
    };
    </script>
    <script data-main="{{asset('/bundles/app/js/preview/article')}}" src="{{asset('/bundles/app/js/vendors/require.js/require.js')}}"></script>
{% endblock %}

{% block body %}
<div id="primary" data-mercury="full">
   {{article.text | raw}}
</div>
{% endblock body %}