{% extends 'App::layout.html.twig' %}

{% block javascripts %}
{{parent()}}
<script type="text/javascript">
    var require = {
        config: {
            'mercury.options' : {
                'url'  : '{{path('rest_article_put_articles', {'article' : article.id})}}',
                'id'   : '{{article.id}}'
            }
        }
    };
    </script>
    <script data-main="{{asset('/bundles/app/js/preview/article')}}" src="{{asset('/bundles/app/js/vendors/require.js/require.js')}}"></script>
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link type="text/css" rel="stylesheet" href="{{asset('/bundles/app/js/vendors/mercury/distro/mercury.bundle.css')}}" />
    <link type="text/css" rel="stylesheet" href="{{asset('/bundles/app/js/vendors/mercury/distro/mercury_regions.bundle.css')}}" />

    <link type="text/css" rel="stylesheet" href="{{asset('/bundles/app/css/article-editor.css')}}" />
{% endblock %}
    
{% block body %}
<div class="b-article-editor-area">
    <div class="b-article-container span9">
        <div id="j-article-content" class="b-article-content" data-mercury="html">
        {{article.text | raw}}
        </div>
    </div>
</div>
{% endblock body %}